@font-face {
  font-family: 'Roboto';
  src: url(/Roboto-Bold.ttf) format('ttf');
}

html {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#title {
  width: 100%;
  background-color: #34495e;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid grey;
  color: white;
}

#title > h1 {
  padding-left: 25px;
}

#content {
  display: flex;
  flex: 1;
  width: 100%;
  background-color: rgb(221, 219, 219);
}

#projectsTab {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  border-right: 1px solid grey;
  padding-left: 15px;
  padding-right: 15px;
  color: rgb(0, 0, 0);
  
}

#projectsTab > h2 {
  align-self: center;
}

.userProject {
  text-align: center;
  width: 100%;
  background-color: #efefef;
  padding: 10px 15px 10px 15px;
}

.userProject:hover {
  background-color: rgb(172, 172, 172);
}

.listTab {
  display: none;
  height: 100%;
  flex: 3;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

#listTab > h2 {
  align-self: center;
  margin-bottom: 25px;
}

form {
  margin:10px 10px 10px 10px;
}

.listContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.listItem {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #efefef;
  border-radius: 12px;
  text-align: center;
  margin: 10px 10px 10px 10px;
  width: 250px;
  height: 250px;
  position: relative;
}

.listItem > h3 {
  text-decoration: underline;
  text-transform: capitalize;
}

