html {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

#title {
    width: 100%;
    background-color: rgb(248, 238, 148);
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid grey;
}

#title > h1 {
    padding-left: 25px;
}

#content {
    display: flex;
    flex: 1;
    width: 100%;
    background-color: rgb(221, 219, 219);
    
}

#projectsTab {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    border-right: 1px solid grey;
    padding-left: 15px;
    padding-right: 15px;
}

#projectsTab > h2 {
    align-self: center;
}

.userProject {
    text-align: center;
    width: 100%;
    background-color: #efefef;
    padding: 10px 15px 10px 15px;
}

.userProject:hover {
    background-color: rgb(172, 172, 172);
}

#listTab {
    display: flex;
    flex: 3;
    flex-direction: column;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;

}

#listTab > h2 {
    align-self: center;
}